  <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="main" class="text-nowrap logo-img mx-auto">
            <img src="assets/images/logos/logo-optic.jpg" width="130" alt="" />
          
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
            
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">เมนู</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="main" aria-expanded="false">
                <span>
                  <i class="ti ti-home"></i>
                </span>
                <span class="hide-menu">หน้าหลัก</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="branch" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">จัดการสาขา</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="employee" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">จัดการพนักงาน</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="category" aria-expanded="false">
                <span>
                  <i class="ti ti-star"></i>
                </span>
                <span class="hide-menu">จัดการหมวดหมู่สินค้า</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="type" aria-expanded="false">
                <span>
                  <i class="ti ti-star"></i>
                </span>
                <span class="hide-menu">จัดการ POWER</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="kind" aria-expanded="false">
                <span>
                  <i class="ti ti-star"></i>
                </span>
                <span class="hide-menu">จัดการชนิดเลนส์</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="products" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">จัดการสินค้า</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="customer" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">จัดการสมาชิก</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="sale_page" target="_blank" aria-expanded="false">
                <span>
                  <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">ขายสินค้า</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">รายงาน</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">รายงานการขายสินค้า</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">รายงานยอดขายแต่ละสาขา</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">รายงานสินค้าขายดี</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="logout" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">ออกจากระบบ</span>
              </a>
            </li>
        
        
          </ul>
         
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>