<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>COME ON OPTIC</title>
        <link rel="shortcut icon" type="image/png" href="assets/images/logos/favicon.png" />
        <link rel="stylesheet" href="assets/css/style_receipt.css">
    </head>
    
<body >
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <div class="pp1">
                                    <b class="original1 ">บริษัท ผู้ขายทดสอบ จำกัด
                                        (สำนักงานใหญ่)</b>
                                </div>
                                <div class="pp2">
                                    <b class="color_inovice">ใบเสร็จรับเงิน/กำกับภาษี</b> <br />
                                    <b>Receipt/Tax Invoice</b> <br />
                                    <h2 class="original ">ต้นฉบับ</h2><br>
                                </div><br>
                                <p>999 หมู่ 999 ถ.สาทร 999 เเขวงสีลม</p>
                                <p>เขตบางรัก กรุงเทพมหานคร 10500</p>
                                <p>เลขประจำตัวผู้เสียภาษี 1234567890999</p>
                                <p>โทร. 0912345678 อีเมล seller@test.com</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <div class="pp1">
                                    <b class="original">ลูกค้า</b>
                                    บริษัท ผู้ซื้อทดสอบ จำกัดสำนักงานใหญ่
                                </div>
                                <div class="pp2">
                                    <b class="original">เลขที่ </b>
                                    TIV202105
                                </div><br>
                                <div class="pp2">
                                    <b class="original">วันที่</b>
                                    22/12/2564
                                </div>
                                <div class="pp1">
                                    <b class="original">ที่อยู่</b>
                                    &nbsp;99 หมู่99 ถ.สาทร 99 เเขวงสีลม เขตบางรัก
                                    กรุงเทพมหานคร 10500
                                </div><br>
                                <div class="pp1">
                                    <b class="original">เลขประจำตัวผู้เสียภาษี</b>
                                    1234567890123
                                </div><br />
                                <div class="pp1">
                                    <b class="original">โทร.</b>
                                    00812345678
                                    <b class="original">อีเมล</b>
                                    buyer@test.com
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <td colspan="4">
                <table id="myTable">
                    <tr class="details">
                        <td class="original">
                            <b class="pp3"> ลำดับ</b>
                            <b class="pp3"> รายการ</b>
                            <b class="pp3"> จำนวน</b>
                            <b class="pp3"> หน่วย</b>
                            <b class="pp3"> ราคา/หน่วย</b>
                            <b class="pp3"> ส่วนลด</b>
                            <b class="pp3"> จำนวนเงิน</b>
                        </td>
                    </tr>
                </table>
            </td>
            <td colspan="2">
                <tr>
                    <td>
                        <b class="pp3">1</b>
                        <b class="pp3">สินค้ารายการเเรก</b>
                        <b class="pp3">2</b>
                        <b class="pp3">กล่อง</b>
                        <b class="pp4">50.00</b>
                        <b class="pp4">0.00</b>
                        <b class="pp3">100.00บาท</b>
                    </td>
                </tr>
            </td>
            <!-- <td colspan="2">
                <tr>
                    <td>
                        <b class="pp3">2</b>
                        <b class="pp3">สินค้ารายการสอง</b>
                        <b class="pp3">9</b>
                        <b class="pp3">กล่อง</b>
                        <b class="pp4">50.00</b>
                        <b class="pp4">0.00</b>
                        <b class="pp3">250.00บาท</b>
                    </td>
                </tr>
            </td> -->
            <td colspan="4">
                <table>
                    <tr>
                        <br>
                        <br>
                        <td class="bb">
                            <br>
                            <div class="pp1">
                                <b class="original">หมายเหตุ</b>
                            </div>
                            <div class="pp">
                                <b class="original">ส่วนลด</b>
                                <b>0.00</b>
                                <b class="original">บาท</b>
                            </div>
                            <br />
                            <div class="pp">
                                <b class="original">รวมเป็นเงิน (ก่อน Vat)</b>
                                <b>350.00</b>
                                <b class="original">บาท</b>
                            </div>
                            <br />
                            <div class="pp">
                                <b class="original">ภาษีมูลค่าเพิ่ม 7%</b>
                                <b>24.50</b>
                                <b class="original">บาท</b>
                            </div>
                            <br />
                            <div class="pp">
                                <b class="original">จำนวนเงินทั้งสิ้น</b>
                                <b>347.50</b>
                                <b class="original">บาท</b>
                            </div>
                            <br>
                            <br>
                            <b class="original">ผูรับของ</b>
                            บริษัท ผู้ขายทดสอบ จำกัด
                        </td>
                    </tr>
                </table>
            </td>
        </table>
    </div>
</body>
<script>
    var dataTable = $('#myTable').DataTable();
</script>

</html>